QScrollBar:vertical {
     border: 2px solid white;
     background: #32CC99;
     width: 40px;
     margin: 60px 0 0 0;
 }

  QScrollBar::handle:vertical {
     background: white;
     min-height: 10px;
		 border: 2px solid black;
 }

 QScrollBar::add-line:vertical {
     border: 2px solid blue;
     background: #AA44FF;
     height: 25px;
		 top: 31px;
     subcontrol-position: top;
     subcontrol-origin: margin;
 }

 QScrollBar::sub-line:vertical {
     border: 2px solid black;
     background: #FFCCEE;
     height: 25px;
     subcontrol-position: top;
     subcontrol-origin: margin;
 }
 QScrollBar::up-arrow:vertical {
     width: 25px;
     height: 25px;
 }

QScrollBar::down-arrow:vertical
{
     width: 25px;
     height: 25px;
 }

 QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
     background: none;
 }
